<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENEMYS</key>
	<dict/>
	<key>ACTIVE_QUEST</key>
	<dict/>
	<key>ACHIEVE_KEY</key>
	<dict/>
	<key>GOLD</key>
	<integer>100</integer>
	<key>PROPERTY</key>
	<dict>
		<key>MISC</key>
		<dict/>
		<key>EQUIPPING</key>
		<dict>
			<key>ARMOR</key>
			<string>SHIRT</string>
			<key>WEAPON</key>
			<string>WOOLEN_SWORD</string>
		</dict>
		<key>ARMOR</key>
		<dict>
			<key>SHIRT</key>
			<integer>3</integer>
			<key>RAG</key>
			<integer>1</integer>
		</dict>
		<key>WEAPON</key>
		<dict>
			<key>WOOLEN_SWORD</key>
			<integer>1</integer>
			<key>GLASS_BOTTLE</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>DEX</key>
	<integer>6</integer>
	<key>DEF</key>
	<integer>3</integer>
	<key>HP</key>
	<integer>80</integer>
	<key>STR</key>
	<integer>5</integer>
</dict>
</plist>
