<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Town00</key>
	<dict>
		<key>OUT</key>
		<dict>
			<key>X</key>
			<real>0.8</real>
			<key>Y</key>
			<real>0.1</real>
			<key>COMMENT</key>
			<string>你可以去更远的地方探险</string>
			<key>NAME</key>
			<string>出发的小路</string>
		</dict>
		<key>TAVERN</key>
		<dict>
			<key>Y</key>
			<real>0.6</real>
			<key>X</key>
			<real>0.17</real>
			<key>COMMENT</key>
			<string>一群游手好闲的人聚集在一起，当然你也可以在这里打探到有用的消息和获得任务。</string>
			<key>NAME</key>
			<string>小酒馆</string>
		</dict>
		<key>DUNGEON</key>
		<dict>
			<key>Y</key>
			<real>0.6</real>
			<key>X</key>
			<real>0.87</real>
			<key>COMMENT</key>
			<string>看起来人畜无害的探险地点</string>
			<key>NAME</key>
			<string>小地窖</string>
		</dict>
		<key>PLAZA</key>
		<dict>
			<key>Y</key>
			<real>0.63</real>
			<key>X</key>
			<real>0.66</real>
			<key>NAME</key>
			<string>小广场</string>
			<key>COMMENT</key>
			<string>许多人在这里晒太阳和闲聊</string>
		</dict>
		<key>NAME</key>
		<string>无名小镇</string>
		<key>FACILITIES</key>
		<array>
			<string>OUT</string>
			<string>PLAZA</string>
			<string>DUNGEON</string>
			<string>TAVERN</string>
			<string>SHOP</string>
		</array>
		<key>COMMENT</key>
		<string>一座宁静带着诡异的小村庄</string>
		<key>SHOP</key>
		<dict>
			<key>X</key>
			<real>0.25</real>
			<key>Y</key>
			<real>0.25</real>
			<key>COMMENT</key>
			<string>来买东西喽，价廉物美！</string>
			<key>NAME</key>
			<string>商店</string>
		</dict>
		<key>IMG</key>
		<string>Town00.jpg</string>
	</dict>
</dict>
</plist>
